.content {
  padding: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;

    &__name {
        font-size: $name-font;
        margin-top: 0;
      }
      
    &__text {
        margin-top: 0;
        font-size: $text-font;
      }
  }